body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(209, 207, 207);
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px; 
    background-color: rgb(255, 72, 0);
}

nav div{
    font-size: 150%;
    color: white;
    border: 2px solid white;
    padding: 3px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    border-radius: 5px;
}

@media(max-width:450px){
    nav div{
        font-size: 100%;
    }
}


header{
    position: relative;
}

header #overlay{
    position: relative;
}


header #overlay #layer{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

header #overlay #background{
    height: 100%;
    width: 100%;

}

header #overlay #title_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 10%;
   
}

header #overlay #subtitle_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 70%
    
}

header #overlay #title_container #title_1, #title_2{
    font-size: 57px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    flex-shrink: 0;
}

header #subtitle{
    /*font-size: 33px;*/
    font-size: 150%;
    color: white;
    font-family: 'Palette Mosaic', cursive;
    flex-shrink: 0;
    flex-grow: 0;
    
}

@media (max-width:450px) {
    header #subtitle{
        font-size: 100%;
    }
}

header #pin_img_container{
    width: 100%;
    position: absolute;
    top:85%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header #pin_img{
   height: 10%;
   width: 10%;
   border: 3px solid red;
   border-radius: 100%;
   background-color: white;
   flex-shrink: 0;
}

header #location_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 115%;
}

header #location_container #location{
    margin-top: 10px;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

section{
    flex-grow: 1; /*La parte centrale della pagina SECTION, si deve estendere verticalmente per occupare tutto lo spazio a disposizione*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

section .paragraph{
    flex-grow: 1;
    flex-shrink: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: large;
    line-height: 30px;
}

section .flights{
    margin-top: 3%;
    color: rgba(255, 72, 0,0.8);
    font-size: 150%;
    text-align: center;

}


section div em{
    margin-right: 4%;
    font-size: 300%;
    text-decoration: none;
    font-style:normal;
    font-weight: bold;
    color: rgb(255, 72, 0);
}

section img{
    margin: 5%;
    max-width: 1000px;
    max-height: 500px;
}

section .paragraph .title_p{
    margin-left: -10%;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    line-height: normal;
}



footer{
    height: 50px;
    background-color: rgb(255, 72, 0);
    flex-shrink: 0; /*Per fare in modo che l' altezza del flex item resti uguale, indipendentemente dallo spazio occupato dagli altri elementi*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


footer div{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}













